@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);
  --color-chart-10: var(--chart-10);
  --color-chart-11: var(--chart-11);
  --color-chart-12: var(--chart-12);
  --color-chart-13: var(--chart-13);
  --color-chart-14: var(--chart-14);
  --color-chart-15: var(--chart-15);
  --color-chart-16: var(--chart-16);
  --color-chart-17: var(--chart-17);
  --color-chart-18: var(--chart-18);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}

@layer base {
  :root {
    --radius: 0.5rem;

    --background: oklch(100% 0 0);
    --foreground: oklch(21.03% 0.0059 285.89);

    --muted: oklch(95% 0.0059 285.89);
    --muted-foreground: oklch(62.46% 0.0059 285.89);

    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(21.03% 0.0059 285.89);

    --card: oklch(98% 0.0059 285.89);
    --card-foreground: oklch(21.03% 0.0059 285.89);

    --border: oklch(0% 0 0 / 10%);
    --input: oklch(0% 0 0 / 15%);

    --primary: oklch(43.2% 0.2106 292.76);
    --primary-foreground: oklch(96.91% 0.0161 293.76);

    --secondary: oklch(91.97% 0.004 286.32);
    --secondary-foreground: oklch(27.39% 0.0055 286.03);

    --accent: oklch(60.89% 0.1109 221.72);
    --accent-foreground: oklch(98.41% 0.0189 200.87);

    --destructive: oklch(57.71% 0.2152 27.33);
    --destructive-foreground: oklch(97.05% 0.0129 17.38);

    --ring: oklch(54.13% 0.2466 293.01);

    --sidebar: oklch(0.985 0.002 247.839);
    --sidebar-foreground: oklch(0.13 0.028 261.692);
    --sidebar-primary: oklch(0.21 0.034 264.665);
    --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
    --sidebar-accent: oklch(0.967 0.003 264.542);
    --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
    --sidebar-border: oklch(0.928 0.006 264.531);
    --sidebar-ring: oklch(0.707 0.022 261.325);

    --chart-1: oklch(63.09% 0.1013 183.49);
    --chart-2: oklch(67.72% 0.1571 35.19);
    --chart-3: oklch(37.87% 0.0440 225.54);
    --chart-4: oklch(83.36% 0.1186 88.15);
    --chart-5: oklch(78.34% 0.1261 58.75);
    --chart-6: oklch(76.53% 0.1306 194.77);
    --chart-7: oklch(43.46% 0.1737 13.84);
    --chart-8: oklch(59.46% 0.1793 146.46);
    --chart-9: oklch(47.92% 0.2202 328.36);
    /* After 9, we start repeating colors */
    --chart-10: oklch(63.09% 0.1013 183.49);
    --chart-11: oklch(67.72% 0.1571 35.19);
    --chart-12: oklch(37.87% 0.0440 225.54);
    --chart-13: oklch(83.36% 0.1186 88.15);
    --chart-14: oklch(78.34% 0.1261 58.75);
    --chart-15: oklch(76.53% 0.1306 194.77);
    --chart-16: oklch(43.46% 0.1737 13.84);
    --chart-17: oklch(59.46% 0.1793 146.46);
    --chart-18: oklch(47.92% 0.2202 328.36);
  }

  .dark {
    --radius: 0.5rem;

    --background: oklch(0.13 0.028 261.692);
    --foreground: oklch(0.985 0.002 247.839);

    --card: oklch(0.21 0.034 264.665);
    --card-foreground: oklch(0.985 0.002 247.839);

    --popover: oklch(0.13 0.028 261.692);
    --popover-foreground: oklch(0.985 0.002 247.839);

    --primary: oklch(68.47% 0.1479 237.32);
    --primary-foreground: oklch(0.21 0.034 264.665);

    --secondary: oklch(40.36% 0.002 247.839);
    --secondary-foreground: oklch(90% 0.002 247.839);

    --muted: oklch(5% 0.002 247.839);
    --muted-foreground: oklch(56.53% 0.002 247.839);

    --accent: oklch(42.44% 0.1809 265.64);
    --accent-foreground: oklch(97.05% 0.0142 254.6);

    --destructive: oklch(50.54% 0.1905 27.52);
    --destructive-foreground: oklch(93.56% 0.0309 17.72);

    --border: oklch(1 0 0 / 20%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --sidebar: oklch(0.21 0.034 264.665);
    --sidebar-foreground: oklch(0.985 0.002 247.839);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
    --sidebar-accent: oklch(0.278 0.033 256.848);
    --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(52.92% 0.1931 262.13);
    --chart-2: oklch(61.23% 0.2093 6.39);
    --chart-3: oklch(72.32% 0.1500 60.63);
    --chart-4: oklch(61.92% 0.2037 312.73);
    --chart-5: oklch(69.83% 0.1337 165.46);
    --chart-6: oklch(100% 0 0);
    --chart-7: oklch(79.61% 0.0973 19.44);
    --chart-8: oklch(86.66% 0.1647 88.68);
    /* After 8, we start repeating colors */
    --chart-9: oklch(52.92% 0.1931 262.13);
    --chart-10: oklch(61.23% 0.2093 6.39);
    --chart-11: oklch(72.32% 0.1500 60.63);
    --chart-12: oklch(61.92% 0.2037 312.73);
    --chart-13: oklch(69.83% 0.1337 165.46);
    --chart-14: oklch(100% 0 0);
    --chart-15: oklch(79.61% 0.0973 19.44);
    --chart-16: oklch(86.66% 0.1647 88.68);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
